@page "/companies/edit"
@using Microsoft.EntityFrameworkCore
@using FullStackProject.Domain
@inject IDbContextFactory<JobBoard.Data.JobBoardContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Company</h2>
<hr />
@if (Company is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Company" OnValidSubmit="UpdateCompany" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Company.Id" value="@Company.Id" />
                <div class="mb-3">
                    <label for="companyname" class="form-label">CompanyName:</label>
                    <InputText id="companyname" @bind-Value="Company.CompanyName" class="form-control" />
                    <ValidationMessage For="() => Company.CompanyName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="industry" class="form-label">Industry:</label>
                    <InputText id="industry" @bind-Value="Company.Industry" class="form-control" />
                    <ValidationMessage For="() => Company.Industry" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="Company.Location" class="form-control" />
                    <ValidationMessage For="() => Company.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="website" class="form-label">Website:</label>
                    <InputText id="website" @bind-Value="Company.Website" class="form-control" />
                    <ValidationMessage For="() => Company.Website" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="companydescription" class="form-label">CompanyDescription:</label>
                    <InputText id="companydescription" @bind-Value="Company.CompanyDescription" class="form-control" />
                    <ValidationMessage For="() => Company.CompanyDescription" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="companylogopath" class="form-label">CompanyLogoPath:</label>
                    <InputText id="companylogopath" @bind-Value="Company.CompanyLogoPath" class="form-control" />
                    <ValidationMessage For="() => Company.CompanyLogoPath" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Company.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Company.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Company.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Company.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Company.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Company.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Company.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Company.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/companies">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Company? Company { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Company ??= await context.Company.FirstOrDefaultAsync(m => m.Id == Id);

        if (Company is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCompany()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Company!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CompanyExists(Company!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/companies");
    }

    private bool CompanyExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Company.Any(e => e.Id == id);
    }
}
